{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Pet Registration</title>
    <link rel="stylesheet" href="{% static 'css/api_pet_reg.css' %}">
</head>
<body>
    <div class="container">
        <h2>Register Pet</h2>
        <form id="pet-form">
            <input type="text" id="type" name="type" placeholder="Pet Type" required><br>
            <input type="text" id="name" name="name" placeholder="Pet Name" required><br>
            <input type="text" id="breed" name="breed" placeholder="Breed" required><br>
            <input type="text" id="allergy" name="allergy" placeholder="Allergy" required><br>
            <input type="date" id="last_visit" name="last_visit" placeholder="Last Visit" required><br>
            <input type="text" id="test_result" name="test_result" placeholder="Test Result" required><br>
            <input type="text" id="vaccine_name" name="vaccine_name" placeholder="Vaccine Name" required><br>
            <input type="date" id="vaccine_date" name="vaccine_date" placeholder="Vaccine Date" required><br>
            <input type="number" id="age" name="age" placeholder="Age" required><br>
            <input type="text" id="ownerid" name="ownerid"><br>
            <button type="submit">Submit</button>
        </form>
        <div id="response-message"></div>
    </div>

    <script src="{% static 'js/api_pet_reg.js' %}"></script>
</body>
</html>
